{% extends 'main/base.html' %}
{% block title %} Create New Label {% endblock %}

{% block content %}
{% if user.is_authenticated %}
     <h3>Create New Label</h3>
     <form method="post" action="/create/" class="form-group">
         {% csrf_token %}
         <div class="input-group mb-3">
             <div class="input-group-prepend">
                 <button type="submit" name="save" class="btn btn-success">Create New</button>
             </div>{{form.name}}
         </div>
    </form>
{% else %}
    <h2>You are not logged in. Please <a href="/login">log in</a> or <a href="/register">register</a> </h2>
{% endif %}
{% endblock %}